trash/
.fabric/
crash-reports/
libraries/
logs/
versions/

banned-ips.json
banned-players.json
eula.txt
ops.json
usercache.json
whitelist.json

world/advancements
world/playerdata/
world/stats/

# Mods
config/skinrestorer/
modpacks/
showdown/

world/pokemon/
world/cobblemonplayerdata/